## Theoretical Questions

1. **What are data structures, and why are they important?**

Data structures are organized ways to store, manage, and retrieve data (e.g., arrays, lists, trees, hash tables). They are important because they affect the efficiency of operations (searching, inserting, deleting) and determine how memory is used.

2. **Explain the difference between mutable and immutable data types with examples.**

- Mutable objects can be changed after creation (e.g., `list`, `dict`, `set`).
- Immutable objects cannot be changed after creation (e.g., `int`, `float`, `str`, `tuple`).
Example: modifying a list `a=[1,2]; a.append(3)` changes `a`, while `s='hi'; s.replace('h','b')` returns a new string and does not change the original `s`.

3. **Main differences between lists and tuples in Python**

- `list` is mutable; `tuple` is immutable.
- Lists have methods like `append`, `remove`; tuples do not.
- Tuples can be used as dictionary keys if they contain only immutable items; lists cannot.

4. **Describe how dictionaries store data**

Dictionaries store data as key-value pairs using a hash table mechanism. Keys are hashed to determine where values are stored, allowing (on average) O(1) time for lookups, inserts, and deletes.

5. **Why might you use a set instead of a list in Python?**

Use a `set` when you need uniqueness of items and fast membership tests (average O(1)). Sets automatically remove duplicates and are optimized for membership, intersection, union, difference operations.

6. **What is a string in Python, and how is it different from a list?**

A string is an immutable sequence of characters. While you can index and slice strings like lists, strings are immutable and only hold characters (not arbitrary Python objects). Lists are mutable and can contain mixed types.

7. **How do tuples ensure data integrity in Python?**

Tuples are immutable, so their contents cannot be changed after creation. This immutability ensures that data meant to remain constant is safe from accidental modification.

8. **What is a hash table, and how does it relate to dictionaries in Python?**

A hash table maps keys to values using a hash function to compute an index. Python dictionaries are implemented using a hash table, which gives near-constant time for key-based access.

9. **Can lists contain different data types in Python?**

Yes. Python lists are heterogeneous — they can hold ints, strings, objects, other lists, etc.

10. **Explain why strings are immutable in Python**

Strings are immutable for safety, simplicity, and performance (sharing memory, hashability). Immutable strings can be used as dictionary keys and reduce surprising side effects.

11. **What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries provide O(1) average-time keyed access, allowing retrieval by meaningful keys rather than by index. They are better when you need named or associative access.

12. **Describe a scenario where using a tuple would be preferable over a list.**

Tuples are preferable when you want an immutable sequence, e.g., storing (latitude, longitude) coordinates or using as keys in dictionaries.

13. **How do sets handle duplicate values in Python?**

Sets automatically eliminate duplicates. When creating a set from an iterable, duplicate elements are removed.

14. **How does the `in` keyword work differently for lists and dictionaries?**

- For lists, `x in list` checks whether a value equal to `x` exists (linear search, O(n)).
- For dictionaries, `key in dict` checks membership in keys using hashing (average O(1)).

15. **Can you modify the elements of a tuple? Explain why or why not.**

No — tuples are immutable. You cannot change, add, or remove elements. However, if a tuple contains a mutable object (e.g., list), that inner object can be modified.

16. **What is a nested dictionary, and give an example of its use case.**

A nested dictionary is a dictionary whose values are dictionaries. Example use: storing student records where each student key maps to a dict of attributes: `{ 'alice': {'age':20,'city':'NY'}, 'bob': {...}}`.

17. **Describe the time complexity of accessing elements in a dictionary.**

Average-case O(1) for lookup, insertion, and deletion. Worst-case can degrade (rare) to O(n) due to hash collisions or rehashing.

18. **In what situations are lists preferred over dictionaries?**

When order and positional access matter, when you need to store sequences, or when you require duplicate elements. Lists are simpler for indexed operations and iteration.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

Historically dictionaries were unordered; modern Python (3.7+) preserves insertion order as an implementation detail. However, dictionaries are not indexed by position — retrieval is by key, not position. Relying on insertion order for algorithms should be done carefully.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

- Lists: retrieval by numeric index (O(1)), searching by value is O(n).
- Dictionaries: retrieval by key using hashing (average O(1)). Use dicts when you need lookup by a unique key.

----
## Practical Questions

### Q1: Write a code to create a string with your name and print it.

In [ ]:
name = "Your Name"
print(name)

Your Name

### Q2: Write a code to find the length of the string "Hello World".

In [ ]:
s = "Hello World"
print(len(s))

11

### Q3: Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = "Python Programming"
print(s[:3])

Pyt

### Q4: Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

### Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s = "I like apple"
print(s.replace("apple","orange"))

I like orange

### Q6: Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

### Q7: Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = ['a','b','c','d']
print(lst[1])

b

### Q10: Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100,200,300)
print(t)

(100, 200, 300)

### Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red','green','blue','yellow')
print(t[-2])

blue

### Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t = (10,20,5,15)
print(min(t))

5

### Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t = ('dog','cat','rabbit')
print(t.index('cat'))

1

### Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ('apple','banana','kiwi')
print('kiwi' in fruits)

True

### Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a','b','c'}
print(s)

{'c', 'b', 'a'}

### Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

### Q19:  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

### Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a = {1,2,3}
b = {2,3,4}
print(a.intersection(b))

{2, 3}

### Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d = {'name':'Alice','age':25,'city':'London'}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'London'}

### Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d = {'name':'John','age':25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d = {'name':'Alice','age':30}
print(d['name'])

Alice

### Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {'name':'Bob','age':22,'city':'New York'}
d.pop('age', None)
print(d)

{'name': 'Bob', 'city': 'New York'}

### Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = {'name':'Alice','city':'Paris'}
print('city' in d)

True

### Q26:  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lst = [1,2,3]
t = (4,5,6)
d = {'a':1,'b':2}
print(lst)
print(t)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

### Q27:  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
lst = random.sample(range(1,101),5)
lst.sort()
print(lst)

[5, 26, 47, 63, 79]

### Q28: Write a code to create a list with strings and print the element at the third index.

In [ ]:
lst = ['zero','one','two','three','four']
print(lst[3])

three

### Q29: Write a code to combine two dictionaries into one and print the result.

In [ ]:
d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Q30: Write a code to convert a list of strings into a set.

In [ ]:
lst = ['apple','banana','apple']
s = set(lst)
print(s)

{'apple', 'banana'}